<div class="timer-elem d-flex flex-column justify-content-between">
    <div>
        <h3>Reminder</h3>
        <div>
            <mat-form-field>
                <mat-label>Frequency</mat-label>
                <input matInput type="number" [formControl]="frequencyMinutes" />
                <mat-hint align="end">minutes</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <mat-checkbox [formControl]="playSound" labelPosition="before">Sound on?</mat-checkbox> 
    <div class="buttons"> 
        <button mat-raised-button (click)='toggleReminder()'>Toggle reminder</button>
    </div>
</div>
